@import url("common.css");

@mixin width_total($wid:100%){
    width:$wid;
}
@mixin display($f:flex,$j:space-between){
    display:$f;
    justify-content:$j;
}
%aaa{
    color:#fff;
}
%absol{
    position:absolute;
}
$color:#000;
// layout
body{
    overflow-x:hidden;
    overflow-y:hidden;
}
#total{
    @include width_total(100%);
    position:relative;
}
// header
header{
    @include width_total(100%);
    @include display;
    position:fixed;
    @extend %aaa;       
    z-index:10;
}
header figure{
    @include width_total(100%);
}
header img{
    @include width_total(20%);
    height:100%;
}
header nav{
    @include width_total(40%);
    padding:2% 5%;
    font-size:2em;
}
header nav ul{
    @include width_total(100%);
    @include display;

    & li{
        color:#fff;
        & a{
            color:#fff;
        }
    }
}
.intro{
    width:100%;
    height:100%;
    z-index:1;
    position:absolute;
    left:0;
    top:0;
    & .intro_first{
        position:absolute;
        left:20%;
        top:30%;
        opacity:0;
        transition:.7s;
        transition-timing-function:ease-in;
        transition-duration:.8s;
    }
    & .intro_second{
        position:absolute;
        left:50%;
        top:50%;
        opacity:0;
        transition:.7s;
        transition-delay:.8s;
        transition-timing-function:ease-in;
        transition-duration:.8s;
    }
}
.intro.active{
    & .intro_first{
        position:absolute;
        left:25%;
        top:30%;
        opacity:1;
    }
    & .intro_second{
        position:absolute;
        left:55%;
        top:50%;
        opacity:1;
    }
}
section{
    @include width_total(100%);
    @extend %aaa; 
    background: url("../img/index/index.jpg") no-repeat;
    background-size:cover;
    height:90vh;
        .Text{
            @include width_total(100%);
            height:100%;
            position:relative;
            left:0%;
            top:0%;
            .first{
                position:absolute;
                left:20%;
                top:30%;
                opacity:0;
                transition:.7s;
                transition-timing-function:ease-in;
                transition-duration:.8s;
            }
            .second{
                position:absolute;
                left:55%;
                top:50%;
                opacity:0;
                transition:.7s;
                transition-delay:.8s;
                transition-timing-function:ease-in;
                transition-duration:.8s;
            }
        }
        .Text.active{
            .first{
                position:absolute;
                left:20%;
                top:30%;
                opacity:1;
            }
            .second{
                position:absolute;
                left:55%;
                top:50%;
                opacity:1;
            }
        }
}
.Text:after{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background-color:#000;
    display:block;
}
.Text.active:after{
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background-color:#000;
    display:block;
    opacity:0;
    transition:.5s;
}
footer{
    @include width_total(100%);
    background-color:$color;
    & ul{
        @include display;
        padding:2% 15%;
        margin:0 auto;
    }
    & ul li{
        color:#fff;
    }
}

