
@import "common.css";

@mixin width_total($wid:100%){
    width:$wid;
}
@mixin display($f:flex,$j:space-between){
    display:$f;
    justify-content:$j;
}
%aaa{
    color:#fff;
}
%absol{
    position:absolute;
}
$color:#000;
// layout
#total{
    @include width_total(100vw);
}
// header
header{
    @include width_total(100%);
    @include display;
    position:fixed;
    @extend %aaa;       
   
}
header figure{
    @include width_total(100%);
}
header img{
    @include width_total(20%);
    height:100%;
}
header nav{
    @include width_total(40%);
    padding:2% 5%;
    font-size:2em;
}
header nav ul{
    @include width_total(100%);
    @include display;

    & li{
        color:#fff;
    }
}
section{
    @include width_total(100%);
    @extend %aaa; 
    background: url("../img/index/index.jpg") no-repeat;
    background-size:cover;
    height:100vh;
        .Text{
            @include width_total(65%);
            position:relative;
            left:0%;
            top:0%;
            .first{
                @extend %absol;
        
            }
            .second{
                @extend %absol;
        
            }
        }
}
/* header{
    @include width_total(100%);
    @extend section;
}*/

footer{
    @include width_total(100%);
    background-color:$color;
    & ul{
        @include display;
        padding:2% 15%;
        margin:0 auto;
    }
    & ul li{
        color:#fff;
    }
}

